<html>
  <head>
    <title>Mask detection</title>
  </head>

  <style>

body {font-family: Helvetica;}

input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  width: auto;
}

button {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

  </style>

  <body>
  <div class="center">
    <h1>Login</h1>

  <form action='{{url_for('check')}}' method='post'>
    <label for="uname">Username:</label>
    <input style="font-size:17px;" type="text" placeholder="Enter username" autocomplete="off" name="uname" value='{{uname if uname != None}}'><br>
    <label for="pwd">Password:</label>
    <input style="font-size:17px;" type="password" placeholder="Enter password" autocomplete="off" name="pwd" value='{{pwd if pwd != None}}'><br>
    <br><button type="submit">Login</button>

  </form>
    <p><br><a href="/pass_rec">Forget Password?</a></p>
    <!--<button type="submit" formaction='/pass_rec'>Forget Password?</button>-->
  <p style = "color:red">{{err}}</p>
  </div>
  </body>
</html>